<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h1>Contact Us!</h1>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="mailto:{{ site.email }}">
          {{ site.email }}
        </a>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="https://github.com/orgs/santosfamilyfoundation">
            GitHub Repo
        </a>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="/privacy/">
          Privacy Policy
        </a>
      </div>
    </div>

  </div>
</footer>
